/* Global Styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "poppins";
}

a {
  text-decoration: none;
  color: black;
}

/* Header Styling */
.main-head {
  transition: 0.6s ease;
  background: rgba(211, 211, 211, 0.99);
  color: white;
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 3;
}

.main-head nav {
  height: 11vh;
  padding: 2rem;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

.main-head ul {
  display: flex;
  flex-basis: 1rem;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
}

.main-head li {
  display: inline-block;
  position: relative;
  color: #1b8180;
}

.main-head li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1b8180;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.main-head li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.selected::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1b8180;
  transform-origin: bottom left;
}

.main-head h1,
.main-head a {
  font-size: 3rem;
  color: black;
}

#logo {
  flex: 3 1 40rem;
}

#logo-text {
  font-size: 3.5rem;
}

/* Hero */
.hero {
  display: flex;
  height: 89vh;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6)),
    url("./img/heroBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.intro-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
}

.intro {
  font-weight: bold;
  font-size: 2.5rem;
  padding: 3rem;
}

/* Best App Styling */
.best-app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 89vh;
}

.best-app h2 {
  position: absolute;
  top: 4rem;
  text-decoration: underline;
  font-size: 5rem;
}

.best-app-container {
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./img/halo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: rgba(0, 0, 0, 0.2) 0rem 0rem 2rem;
  border-radius: 1rem;
  height: 30rem;
  width: 30rem;
}

.best-app-container:hover {
  transform: scale(1.1);
}

#best-app {
  margin: 8rem;
  height: 10rem;
  width: auto;
}

/* Portfolio Styling */
.folders {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 89vh;
}

.folder {
  transition: 0.3s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: none;
  outline: none;
  background: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0rem 0rem 2rem;
  height: 60rem;
  width: 60rem;
  border-radius: 1rem;
}

.folder:hover {
  transform: scale(1.1);
}

.folder h2 {
  font-size: 4rem;
}

.folder-img {
  width: 30rem;
  height: auto;
}

/* Apps Styling */
.apps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 89vh;
}

.app {
  transition: 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  height: 52rem;
  border-radius: 2rem;
  background: whitesmoke;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0rem 0rem 2rem;
  margin: 2rem;
  cursor: pointer;
}

.app:hover {
  transform: scale(1.05);
}

.app:hover .text-box {
  transition: 0.6s;
  bottom: 2rem;
}

.app-name {
  font-size: 3rem;
  margin: 3rem 0rem;
}

.app-logo-container {
  position: relative;
  background: whitesmoke;
  height: 25rem;
  width: 50rem;
  z-index: 2;
  margin-bottom: 10rem;
}

.app-logo {
  height: 25rem;
  width: auto;
}

.app-version {
  transition: 0.4s;
  background: whitesmoke;
  position: absolute;
  bottom: 0.5rem;
  right: 5rem;
  outline: none;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  font-size: 1.5rem;
}

.app-version:hover {
  background: lightgrey;
}

.text-box {
  transition: 0.5s;
  position: absolute;
  bottom: 25rem;
}

.app-desc {
  font-size: 3rem;
}

/* Patch Notes Styling */
.patch-notes {
  text-align: center;
}

.patch-notes-title {
  margin-top: 3rem;
  font-size: 4rem;
  text-decoration: underline;
}

.patch-notes-version {
  margin: 3rem;
  font-size: 3rem;
  text-decoration: underline;
}

.patch-notes-desc {
  margin: 0 30rem;
  font-size: 2rem;
}

.back-arrow-patch-notes {
  position: absolute;
  margin: 3rem;
}

.back-arrow-img {
  transform: rotateZ(180deg);
  width: 5rem;
}

/* Photos Styling */

.photos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 89vh;
  width: 99vw;
  margin: auto;
}

.photo {
  height: 100%;
  transform: scale(1.5);
}

.photo-btn {
  transition: transform 0.3s;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 28rem;
  height: 28rem;
  overflow: hidden;
  border-radius: 2rem;
  margin: 1rem;
}

.photo-btn:hover {
  transform: scale(1.05);
}

.photo-exit-btn {
  position: absolute;
  display: none;
  background: none;
  outline: none;
  border: none;
  margin: 3rem;
  top: 11vh;
  right: 0vw;
}

.photo-exit-btn-img {
  width: 4rem;
  height: auto;
}

#enlarged {
  transform: scale(1);
  height: 85vh;
  width: auto;
  margin: auto;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.6);
}

#enlarged:hover {
  transform: scale(1);
}

.loading-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  top: 0px;
  background: rgb(100, 100, 100);
  z-index: 100;
}

.loading {
  font-family: "Poppins";
  font-size: 5rem;
  margin-bottom: 8vw;
}

.loading-img {
  width: 10rem;
  height: auto;
  animation: loading 1.5s infinite linear;
}

/* Animations */

@keyframes loading {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}
